<div id="title">
    <h1>{{ title }}</h1>
    <h2>{{ subtitle }}</h2>
    <p>{{web}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel luctus ligula. Aenean pulvinar orci
        arcu, a consectetur nunc scelerisque nec. Vestibulum eget ultrices nisi. Fusce et diam nec felis feugiat
        ullamcorper. Fusce tincidunt porta arcu. Pellentesque ultrices magna nibh, vitae sagittis orci suscipit sed.
        Cras vulputate mauris non quam porttitor, eu malesuada sapien pharetra. Integer finibus posuere tortor, sodales
        vulputate tellus interdum fringilla. Quisque efficitur, augue vitae facilisis suscipit, dolor ante posuere arcu,
        sed rutrum est tellus id enim. Ut pretium tortor non dolor congue posuere.

    </p>

</article>